<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
        </head>

        <body>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="#">ComicReader</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="">
                                    <a href="#">Home</a>
                                </li>
                                <li class="">
                                    <a href="#">My Read Comics</a>
                                </li>
                                <li class="">
                                    <a href="#">Favourites</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
		    </div>
            <br><br><br><br>
                <div class="container">
                <h2>Which comic would you like to read?</h2>
                    <div class="row">
                        <div class="col-lg-4">
                            <h3>XKCD</h3>
                            <p>A webcomic of romance, sarcasm, math, and language.</p>
                            <p><a class="btn btn-default" href="#">Read comic &raquo;</a></p>
                        </div>
                        <div class="col-lg-4">
                            <h3>SMBC</h3>
                            <p>Saturday Morning Breakfast Cereal, by Zach Weiner. </p>
                            <p><a class="btn btn-default" href="#">Read comic &raquo;</a></p>
                        </div>
                    </div>
                    <hr>

                        <footer>
                            <p>&copy; Kate 2013</p>
                        </footer>
                    </div>
                </body>
            </html>